# logging
LOGGING_CONFIG_LEVEL=DEBUG
LOGGING_CONFIG_NAMESPACES=["", "uvicorn"]

# TOKEN VALIDATION
# https://authentik.matthewcoulter.dev/if/admin/#/core/providers/2;%7B%22page%22%3A%22page-overview%22%2C%22permissionPage%22%3A%22page-object-user%22%7D
TOKEN_VALIDATOR_TYPE=OIDC
TOKEN_VALIDATOR_OIDC_ISSUER=https://authentik.matthewcoulter.dev/application/o/oauth2-broker/
TOKEN_VALIDATOR_OIDC_JWKS_URI=https://authentik.matthewcoulter.dev/application/o/oauth2-broker/jwks/
TOKEN_VALIDATOR_OIDC_AUDIENCE=["cUdr3ZNSREvqdY4iC5ZiR8NSNuNXb0y7liy1tkB0", "IgINbf9voUIq1ivypol1w2ExTzwmh53adUSapiV5"]
TOKEN_VALIDATOR_OIDC_ALGORITHMS=["RS256"]
