# logging
LOGGING_CONFIG_LEVEL=DEBUG
LOGGING_CONFIG_NAMESPACES=["", "uvicorn"]

# TOKEN VALIDATION
# https://authentik.matthewcoulter.dev/if/admin/#/core/providers/2;%7B%22page%22%3A%22page-overview%22%2C%22permissionPage%22%3A%22page-object-user%22%7D
TOKEN_VALIDATOR_TYPE=OIDC
TOKEN_VALIDATOR_OIDC_ALGORITHMS=["RS256"]
TOKEN_VALIDATOR_OIDC_ISSUERS='[{"issuer":"https://authentik.matthewcoulter.dev/application/o/auth-broker-web/","jwks_uri":"https://authentik.matthewcoulter.dev/application/o/auth-broker-web/jwks/","audience":["cUdr3ZNSREvqdY4iC5ZiR8NSNuNXb0y7liy1tkB0"]},{"issuer":"https://authentik.matthewcoulter.dev/application/o/auth-broker-n8n/","jwks_uri":"https://authentik.matthewcoulter.dev/application/o/auth-broker-n8n/jwks/","audience":["IgINbf9voUIq1ivypol1w2ExTzwmh53adUSapiV5"]}]'
